$purple: #444054;

$button-text: 1.2rem;

$label-size: 1.3rem;

$desktop: '(min-width: 1024px)';
$tablet: '(min-width: 750px) and (max-width:1023px)';
$mobile: '(min-width: 1px) and (max-width:749px)';